body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.empty-icons {
  display: flex !important;
}
.filled-icons {
  display: -webkit-inline-box !important;
}

.bp-footer {
  background-color: #7e57c2 !important;
}

.bp-footer-content > a {
  display: none;
}